In [7]:
num = 3;
print(num)

3

In [9]:
num1 = 13
num2 = 25
num2 = 77
print(num1,num2,num2)

13 77 77

In [12]:
num3 = 3.1425
num4 = 1.25
num5 = 3.0
print(num3, num4, num5)

3.1425 1.25 3.0

# 주석입니다

In [16]:
str1 = 'Funny Python'
str2 = "Easy Python"
print(str1)
print(str2)

Funny Python
Easy Python

In [19]:
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
a=10
b=25
a,b = b,a
print(a)
print(b)

25
10

In [24]:
x = 100
y = 200
total = x + y
print(total)

300

In [29]:
s1 = "she's gone"
s2 = 'she\'s gone'
print(s1)
print(s2)

she's gone
she's gone

In [82]:
#인덱스 번호를 통해서 문자를 가져올 수 있음. "인덱싱"이라고 함
name = 'My name is JS'
print(name[0])
print(name[11])
print(name[-1])
print(name[3], end='')
print(name[4], end='')
print(name[5], end='')
print(name[6])
print("------")
# 3이상 7미만을 의미
# 슬라이싱
print(name[3:7])
print(name[-2:])
print(name[8:10])
print(name[:])

M
J
S
name
------
name
JS
is
My name is JS

In [87]:
date_info = '20250113warm'
year = date_info[:4] #아무것도 없으면 0을 의미
day = date_info[4:8]
weather = date_info[8:] #아무것도 없으면 맨 끝을 의미
print('연도 :',year)
print('날짜 :',day)
print ('날씨 :',weather)

연도 : 2025
날짜 : 0113
날씨 : warm

In [107]:
day = 13
s8 = '오늘은 1월 %d일입니다' %day
print(s8)

오늘은 1월 13일입니다

In [109]:
month = 1
day = 13
s9 = '오늘은 {1}월 {0}일입니다'.format(day,month)
print(s9)

오늘은 1월 13일입니다

In [112]:
month = 1
day = 13
s10 = f'오늘은 {month}월 {day}일입니다'
print(s10)

오늘은 1월 13일입니다

In [119]:
x = 100
y = 200
total = x + y
print(f'{x}와 {y}의 합은 {total}입니다')
print('%5d과 %d의 합은 %d입니다'%(x,y,total))

100와 200의 합은 300입니다
  100과 200의 합은 300입니다

In [126]:
num1 = 10
str2 = "7"
#형 변환
print(num1 + int(str2))

17

In [142]:
num1 = 23
num2 = 3
print("더하기 결과 :", num1 + num2)
print("빼기 결과 : %d"%(num1+num2))
print("곱하기 결과 : {}".format(num1 * num2))
print(f"나누기 결과 : {num1 / num2}")

더하기 결과 : 26
빼기 결과 : 26
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

In [154]:
num = int(input('정수를 하나 입력해주세요 : '))
print('당신이 입력한 값 :', num + 1)

정수를 하나 입력해주세요 :  1

당신이 입력한 값 : 2

In [158]:
num1= int(input('첫번째 정수를 입력해주세요 : '))
num2= int(input('두번째 정수를 입력해주세요 : '))
print('더하기 결과 :', num1 + num2)
print('빼기 결과 : %d'%(num1 - num2))
print('곱하기 결과 : {}'.format(num1 * num2))
print(f'나누기 결과 : {num1 / num2}')

첫번째 정수를 입력해주세요 :  1
두번째 정수를 입력해주세요 :  2

더하기 결과 : 3
빼기 결과 : -1
곱하기 결과 : 2
나누기 결과 : 0.5

In [159]:
money = 36000
won_10000 = money // 10000 # 3
won_5000 = money % 10000 // 5000 # 1
won_1000 = money % 5000 // 1000 # 1
won_500 = money % 1000 // 500 # 1
won_100 = money % 500 // 100 # 3

In [166]:
time = int(input("시간 입력 >> "))
hour = time // (60 * 60)
minute = time % (60 * 60) // 60 
second = time % 60
print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >>  123

0시간 2분 3초

In [174]:
num = 27
num += 3
num

30

In [186]:
age = int(input())
if age >= 20:
    print('성인입니다')
else:
    print('미성년자입니다')

 1

미성년자입니다

In [209]:
num = int(input('정수 입력 >>'))
if num % 3 == 0 and num % 5 == 0:
    print('3과 5의 배수입니다')
else:
    print('3과 5의 배수가 아닙니다.')

정수 입력 >> 5

3과 5의 배수가 아닙니다.

In [226]:
num1 = int(input('첫번째 정수 입력 >>'))
num2 = int(input('두번째 정수 입력 >>'))

if num1 > num2:
    print('첫 번째 정수가 더 큽니다.')
elif num2 > num1:
    print('두 번째 정수가 더 큽니다.')
else:
    print('두 정수가 같습니다.')

첫번째 정수 입력 >> 4
두번째 정수 입력 >> 4

두 정수가 같습니다.